* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Mulish;
    src: url(../fonts/Mulish-VariableFont_wght.ttf);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

$orange: #FFC01F;
$black-thin: #353535;
$gray: #596C72;
$gray-thin: #686868;
$gray-light: #B0ADAD;

.img {
    left: 0;
    top: 20%;
    position: absolute;
    z-index: -1;
}

// header-top
.header-top {
    background-color: $orange;
    font-family: Montserrat-Medium;

    .header-top-content {
        padding: 15px 0;
        display: grid;
        grid-template-columns: repeat(2, 50%);

        p {
            justify-self: start;
            color: $black-thin;
            font-size: 12px;
        }

        .social-group {
            display: grid;
            justify-self: end;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;

            a {
                color: $black-thin;
            }
        }
    }
}

//header
header {
    position: sticky;
    top: 0;
    z-index: 1;
   
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;

    nav {
        ul {
            display: grid;
            grid-template-columns: repeat(6, auto);
            align-content: center;

            a {
                color: $black-thin;
                font-size: 14px;
                font-family: Montserrat-Regular;
                transition: all 0.2s ease;

                &:hover {
                    color: $orange;

                }
            }
        }
    }

    .language-groups {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-self: end;

        span {
            padding: 0 5px;
            color: $black-thin;
            cursor: pointer;
            font-family: Montserrat-SemiBold;

            &:hover {
                color: $orange;

            }
        }
    }
}

//welcome page
.welcome-page {
    padding: 50px 0 150px 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 50px;

    .welcome-text {
        align-self: center;
        display: grid;
        gap: 20px;
        grid-template-rows: repeat(3, auto);
        color: $gray;

        h1 {
            font-family: Montserrat-Bold;
            width: 21ch;
            font-size: 50px;
        }

        p {
            width: 450px;
            font-family: Mulish, sans-serif;
            font-weight: 400;
        }

        a {
            padding: 13px 55px;
            border-radius: 30px;
            border: 1px solid $black-thin;
            background-color: white;
            color: $black-thin;
            font-family: Mulish, sans-serif;
            font-size: 12px;
            justify-self: start;
            transition: 0.3s ease-out;

            &:hover {
                background-color: $orange;
                border: 1px solid $gray;
            }
        }
    }

    .welcome-img {

        border: 10px solid white;
        box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.25);
        width: 550px;
        height: 400px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

//categories page
.categories {
    padding: 50px 0;

    h2 {
        font-size: 30px;
        font-family: Montserrat-Bold;
        color: $gray;
    }

    .categories-cards-container {

        padding: 20px 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
        gap: 10px;

        .categories-card-item {
            border-radius: 10px;
            padding: 10px;
            background: #FFF;
            box-shadow: 0px 0px 15px 0px rgba(164, 164, 164, 0.25), 0px 1px 7px 0px rgba(194, 194, 194, 0.25) inset;

            h3 {
                font-size: 22px;
                font-family: Montserrat-SemiBold;
                color: $gray;
                text-align: center;
                padding: 10px 0;
            }

            .categories-card-img {
                width: 100%;
                height: 300px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

//about page
.about-page-content {
    position: relative;

    .vektor {
        position: absolute;
        right: 0;
        top: 50%;
        z-index: -1;
    }

    .vektor2 {
        position: absolute;
        left: 0;
        top: 20%;
        z-index: -1;
    }

    .about-page {
        padding: 50px 0;
        display: grid;
        grid-template-columns: 1fr 2fr;


        .left-part {
            width: 100%;
            display: grid;
            align-content: end;
            justify-content: center;

            img {
                width: 300px;
                height: 500px;
                border: 10px solid white;
                box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.25);
            }
        }

        .right-part {
            color: $gray;

            .img-container {
                border: 10px solid white;
                box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.25);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

            .right-part-text {
                padding-left: 50px;
                padding-top: 20px;
                display: grid;
                gap: 20px;

                h2 {

                    font-family: Montserrat-Bold;
                    width: 21ch;
                    font-size: 50px;
                }

                p {

                    font-family: Mulish, sans-serif;
                    font-weight: 400;
                }

                a {
                    padding: 13px 55px;
                    border-radius: 30px;
                    border: 1px solid $black-thin;
                    background-color: white;
                    color: $black-thin;
                    font-family: Mulish, sans-serif;
                    font-size: 12px;
                    justify-self: start;
                    transition: 0.3s ease-out;

                    &:hover {
                        background-color: $orange;
                        border: 1px solid $gray;
                    }
                }
            }

        }

    }
}

//texnikalar
.texnikalar {
    padding: 100px 0;

    h2 {

        font-size: 30px;
        font-family: Montserrat-Bold;
        color: $gray;
    }

    .texnikalar-cards-container {

        padding: 50px 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

        gap: 10px;

        .texnikalar-card-item {
            border-radius: 10px;
            padding: 10px;
            background: #FFF;
            box-shadow: 0px 0px 7px 0px rgba(149, 149, 149, 0.25);

            h3 {
                font-size: 18px;
                color: $gray;
                font-family: Montserrat-SemiBold;
            }

            .product-name {
                font-size: 14px;
                font-family: Mulish;
                font-weight: 400;
                color: $gray-thin;
                margin: 5px 0;
            }

            .product-date {
                font-size: 14px;
                font-family: Mulish;
                font-weight: 400;
                color: $gray-light;
            }

            .product-prize {
                font-family: Montserrat-SemiBold;
                font-size: 18px;
                color: $orange;
                margin-bottom: 5px;
                display: grid;
                justify-content: end;
            }

            a {
                border-radius: 30px;
                border: 1px solid $black-thin;
                color: $black-thin;
                font-family: Mulish;
                font-size: 12px;
                font-weight: 700;
                display: grid;
                justify-content: stretch;
                padding: 10px;
                justify-items: center;
                transition: .3s ease;

                &:hover {
                    background-color: $orange;

                }
            }

            .texnikalar-card-img {
                width: 100%;
                height: 300px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }


        }
    }

    .btn {
        display: grid;
        justify-content: center;

        a.read-more {



            font-weight: 700;
            font-size: 12px;
            font-family: Mulish;
            color: $black-thin;
            border-radius: 30px;
            background: #FFC01F;
            padding: 15px 50px;
            transition: .3s ease;

            &:hover {
                background-color: white;
                border: 1px solid $black-thin;

            }
        }
    }

}

//markalar
.markalar {

    h2 {
        text-align: center;
        font-size: 30px;
        font-family: Montserrat-Bold;
        color: $gray;
        margin-bottom: 30px;
    }

    .logos-container {
        padding: 30px 0;
        display: grid;
        grid-template-columns: repeat(7, auto);
        justify-content: space-between;
        align-content: center;

        img {
            height: 30px;
        }
    }
}

//yenilikler
.yenilikler {
    padding: 100px 0;

    h2 {

        font-size: 30px;
        font-family: Montserrat-Bold;
        color: $gray;
    }

    .yenilikler-cards-container {

        padding: 50px 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 10px;

        .yenilikler-card-item {
            padding-bottom: 20px;
            background: #FFF;
            box-shadow: 0px 0px 7px 0px rgba(149, 149, 149, 0.25);

            img {

                width: 100%;
                object-fit: fill;
            }

            h3 {
                font-size: 16px;
                color: #191919;
                ;
                font-family: Montserrat-Medium;
                margin: 10px 0;
                padding-left: 10px;

            }

            p {
                font-size: 14px;
                font-family: Mulish;
                font-weight: 400;
                color: #69768B;
                margin-bottom: 30px;
                padding-left: 10px;
            }

            .yenilikler-date {
                font-size: 12px;
                color: #69768B;
                font-weight: 500;
                font-family: Mulish;
                padding-left: 10px;
            }

        }
    }


}

//elaqe
.elaqe-content {
    background: #EFEFEF;
    padding: 60px 0;
    position: relative;

    .elaqe-container {
        .elaqe-img {

            width: 700px;
            height: 400px;
            position: absolute;
            top: -90px;
            right: 60px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .elaqe-text {

            width: 35%;

            h3 {
                color: #596C72;
                font-family: Montserrat-Bold;
                font-size: 30px;
            }

            p {

                text-align: justify;
                color: #353535;
                font-family: Mulish;
                font-size: 14px;
                margin: 20px 0;
                font-weight: 400;
            }

            .form-contact {
                display: grid;
                grid-template-columns: auto;
                gap: 10px;

                input {
                    border-radius: 30px;
                    border: 1px solid #353535;
                    padding: 15px;
                    outline: none;
                    background-color: transparent;

                    &::placeholder {
                        color: #686868;
                        font-family: Mulish;
                        font-size: 12px;
                        font-weight: 700;
                    }

                    &:nth-child(1) {

                        grid-column-start: 1;
                        grid-column-end: 2;
                    }

                    &:nth-child(2) {


                        grid-column-start: 2;
                        grid-column-end: 3;
                    }

                    &:nth-child(3) {
                        grid-column-start: 1;
                        grid-column-end: 2;

                    }

                    &:nth-child(4) {
                        grid-column-start: 2;
                        grid-column-end: 3;
                    }

                }


                button {
                    grid-column-start: 1;
                    grid-column-end: 3;

                    border-radius: 30px;
                    background: #FFC01F;
                    outline: none;
                    color: #353535;
                    font-family: Mulish;
                    font-size: 12px;
                    padding: 15px;
                    font-weight: 700;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        border: 1px solid #353535;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

//seo-text
.seo-text-page {
    padding: 50px 0 150px 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 50px;

    .seo-text {
        align-self: center;
        display: grid;
        gap: 20px;
        grid-template-rows: repeat(3, auto);
        color: $gray;

        h2 {
            font-family: Montserrat-Bold;
            font-size: 50px;
        }

        p {
            width: 450px;
            font-family: Mulish, sans-serif;
            font-weight: 400;
        }


    }

    .seo-page-img {

        border: 10px solid white;
        box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.25);
        width: 550px;
        height: 400px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

//footer

footer {
    padding: 40px 0;
    background: rgb(253, 132, 45);
    background: linear-gradient(90deg, rgba(253, 132, 45, 0.29175420168067223) 0%, rgba(255, 255, 255, 0.4906337535014006) 50%, rgba(253, 132, 45, 0.28895308123249297) 100%);

    .top-f {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr 2fr;

        a {
            h2 {
                color: #596C72;
                font-family: Montserrat-Bold;
                font-size: 57px;
                text-transform: capitalize;
            }
        }

        ul {
            display: grid;
            gap: 10px;

            a,
            li {
                color: #353535;
                font-family: Montserrat-Regular;
                font-size: 18px;

            }

        }

        .graphic {
            display: grid;
            grid-template-rows: repeat(2, auto-fill);
            height: 100px;
            p {
                color: #353535;
                font-family: Montserrat-Regular;
                font-size: 18px;
                grid-column-start: 1;
                grid-column-end: 3;
       

            }

            .social-group {
                display: grid;
                grid-template-columns: repeat(3, auto);
                grid-column-start: 1;
                grid-column-end: 2;
                gap: 10px;
           
                a {
                    color: $black-thin;
                }
            }

        }
    }
    .bottom-f{
       
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2,50%);
       p{
        color: #353535;
font-family: Montserrat-REgular;
font-size: 15px;

        &:nth-child(2){
            justify-self: end;
        }
       }
    }
}